<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">

		<title>Blank Template</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>

		<header>
			<nav>	
				
				<ul>
					<li><img src="" alt="TechCrunch logo"></li>
					<li><button>Login</button></li>
					<li><form action="">
						<input type="text" placeholder="Search">
					</form></li>
					<li><a href="#">Startups</a></li>
					<li><a href="#">Videos</a></li>
					<li><a href="#">Audio</a></li>
					<li><a href="#">Newsletters</a></li>
					<li><a href="#">Extra Crunch</a></li>
					<li><a href="#">The TC List</a></li>
					<li><a href="#">Advertise</a></li>
					<li><a href="#">Events</a></li>
					<li>---</li>
					<li><a href="#">More</a></li>
				</ul>
			</nav>
		</header>

		<section>
			<section class="currentHeadline">
				<h5>Extra Crunch</h5>
				<h1>What China's fintech market can teach the world</h1>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
				<span>author name<br></span>
				<img src="https://images.pexels.com/photos/374074/pexels-photo-374074.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Web cam talk">
			</section>

			<aside>
				<section class="sideNews">
					<h3>SellerX raises $118M to buy up and grow Amazon marketplae businesses</h3>
					<span>author name</span>
				</section>
				<section class="sideNews">
					<h3>SellerX raises $118M to buy up and grow Amazon marketplae businesses</h3>
					<span>author name</span>
				</section>
				<section class="sideNews">
					<h3>SellerX raises $118M to buy up and grow Amazon marketplae businesses</h3>
					<span>author name</span>
				</section>
				<section class="sideNews">
					<h3>SellerX raises $118M to buy up and grow Amazon marketplae businesses</h3>
					<span>author name</span>
				</section>
			</aside>
		</section>
		
		<h6>The latest</h6>
		<section class="anotherLatest">
			<section class="latest">
				<section class="latestHeadline">
					<h2>'Wonder Woman 1984' is comin got HBO Max (and some U.S. theaters) on Dec. 25<br></h2>
					<span>Author name<br></span>
					<p>9:15 AM PST November 19, 2020</p>
				</section>

				<section>
					<article>
						Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos blanditiis eius ducimus officiis, sit dolorem ratione repellendus odit...
					</article>
				</section>
					
				<section>
					<img src="https://m.media-amazon.com/images/M/MV5BYTlhNzJjYzYtNGU3My00ZDI5LTgzZDUtYzllYjU1ZmU0YTgwXkEyXkFqcGdeQXVyMjQwMDg0Ng@@._V1_FMjpg_UX1000_.jpg" alt="Image of Wonder Woman">
				</section>
			</section>
		</section>

		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
