<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">

		<title>Blank Template</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>

		<header>
			<nav class="nav">
				
				
				
				<ul>
					<li><a href="#" class="left">Courses &#129083;</a></li>
					<li><a href=#"><input type="text" name="" id="" placeholder="Search" class="left"></a></li>
					<li><a href=#"><img src="khan_logo.png" alt="Khan Academy logo"></a></li>
					<li><a href="#" class="right">Donate</a></li>
					<li><a href="#" class="right">Login</a></li>
					<li><a href="#" class="right">Sign up</a></li>
				</ul>
			</nav>
		</header>

		<main>
			<section>
				<img src="kids_playing.png" alt="Kids on computers">
			</section>

			<section>
				<h1>For every student, every classroom.<br>Real results.</h1>
				<p>We're a nonprofit with the mission to proivde a free, world-class edeucation for anyone, anywhere.</p>
				
				<li><a href="#">Learners</a></li>
				<li><a href="#">Teachers</a></li>
				<li><a href="#">Districs</a></li>
				<li><a href="#">Parents</a></li>
			</section>
		</main>

		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
